<h1>{{ title }}</h1>
<form [formGroup]="registrationForm" (ngSubmit)="onSubmit(registrationForm)">
  <div class="form-group">
    <label for="nameInput">Name</label>
    <input formControlName="name" type="text" class="form-control" id="nameInput" placeholder="Enter your name">
  </div>

  <div class="form-group d-flex mt-4">
    <button class="btn btn-primary" type="submit"
      [disabled]="registrationForm.invalid || (loading$ | async)">
      Create a new game
    </button>

    <a [routerLink]="['/']" class="btn btn-primary ml-2">
      Back
    </a>

    <div *ngIf="(loading$ | async)" class="spinner-border ml-2" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</form>
