<h1>{{ title }}</h1>
<form [formGroup]="registrationForm" (ngSubmit)="onSubmit(registrationForm)">
  <div class="form-group">
    <label for="nameInput">Name</label>
    <input formControlName="name" type="text" class="form-control" id="nameInput" placeholder="Enter your name">
  </div>
  <div class="form-group d-flex align-items-center mt-4">
    <button class="btn btn-primary mr-2" type="submit"
      [disabled]="registrationForm.invalid || (loading$ | async)">
      Start game
    </button>
    <div *ngIf="(loading$ | async)" class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div>
    <a [routerLink]="['/']" class="btn btn-primary">
      Back
    </a>
  </div>
</form>
