@import "variables";
@import "mixins";

.btn-primary {
  background-color: $primary;
  border-color: $primary;

  &:hover {
    background-color: shade($primary, $shade-modifier);
    border-color: shade($primary, $shade-modifier);
  }

  &:focus {
    background-color: $primary;
    border-color: $primary;
  }
}
