@import "./variables.scss";
@import "./buttons.scss";
@import "./mixins.scss";

/**
 * Should be in buttons.scss, but it's a
 * workaround for cursor/pointer events issue:
 * https://stackoverflow.com/q/25654413/2501304
 */

body {
  background: url('/assets/img/teal-background-xsm.jpeg') no-repeat center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.form-group {
  text-align: left;
  color: black;

  input, select {
    border: solid 1px black;
  }
}

.form-control {
  color: black;
}

.disabled,
:disabled {
  cursor: not-allowed;

  a, button {
    background-color: tint($primary, $tint-modifier);
    border-color: tint($primary, $tint-modifier);
    pointer-events: none;
  }
}

.admin-icon {
  position: relative;
}

.page {
  padding: $base;
  background-color: white;
  border: solid 2px black;
  border-radius: $xsmall;
  box-shadow: 0px 4px 16px black;
}

.spinner-border {
  width: 1rem;
  height: 1rem;
}
