/* Spacing */
$xxsmall: 4px;
$xsmall: 8px;
$small: 12px;
$base: 16px;
$medium: 24px;
$large: 32px;
$xlarge: 48px;
$xxlarge: 72px;

/* Colors */
$primary: #009999;
$primary-text: #ffffff;
$secondary-text: #000000;
$success-1: #009b3a;
$success-2: #0f893d;
$locked-color: #fe6363;

/* Modifiers */
$shade-modifier: 30%;
$tint-modifier: 70%;

/* Cards */
$card-border-voted: 5px;
$card-height: 64px;
$card-margin: 6px;

/* Misc */
$nav-width: 350px;
$form-width: 280px;
$voter-container-width: 242px;
$dealer-select-width: 208px;
$dealer-select-disabled-color: #C8C8C8;

