/* Spacing */
$xxsmall: 4px;
$xsmall: 8px;
$small: 12px;
$base: 16px;
$medium: 24px;
$large: 32px;
$xlarge: 48px;
$xxlarge: 72px;

/* Colors */
$primary: #009999;
$success-1: #009b3a;
$success-2: #0f893d;

/* Modifiers */
$shade-modifier: 30%;
$tint-modifier: 50%;
