@import "variables";

nav {
  background-color: white;
  border-top: solid 2px black;
  border-bottom: solid 2px black;

  .nav-wrapper {
    color: black;
    padding: $xxsmall $small;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: $nav-width;
  }

  h1 {
    display: flex;
    margin-right: $xsmall;
  }

  img {
    margin-left: $xsmall;
    height: $xlarge;
  }
}
