@import "variables";

nav {
    background-color: black;
    color: white;
    padding: $xsmall;
    display: flex;
    min-width: $form-width;

    h1 {
        margin-right: $xsmall;
    }

    img {
        height: 48px;
    }
}
