<nav>
    <h1>Sprint Bet<img src="assets/icons/sprint-bet-192.png" alt="Sprint bet icon"></h1>
    <ng-container *ngIf="(signalRConnected$ | async) !== null; else loading">
      <h1 *ngIf="(signalRConnected$ | async)" title="Connected to sprint bet">✓</h1>
      <h1 *ngIf="!(signalRConnected$ | async)" title="Not connected to sprint bet">!</h1>
    </ng-container>
    <ng-template #loading>
      <div title="Connecting to sprint bet..."
        class="spinner-border ml-2" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </ng-template>
</nav>
