@import 'variables';

$voter-container-width: 242px;

.voters-container {
    font-size: $medium;
    width: $voter-container-width;
}

.voter {
    display: inline-flex;
    min-width: ($voter-container-width / 2) - $xsmall;
    max-width: $voter-container-width;
}

.point-card {
    text-align: center;
    height: 43px;
    width: 33px;
    background-image: url("/assets/img/card-small.png");
    border-color: black;

    &.voted {
        background-image: none;
        font-weight: bold;
    }

    &.locked {
        background-image: none;
    }
}