<div>
  <h1>Rooms page</h1>
  <app-voting-cards [locked]="locked$ | async"></app-voting-cards>
  <div *ngIf="(voters$ | async) as voters; else loadingVoters;" class="voters-container">
    <div *ngFor="let voter of voters | keyvalue" class="mr-2 mb-2 voter">
      <span class="mr-1 name">{{voter.value.name}}</span>
      <div class="card point-card"
        [ngClass]="{'locked': locked$ | async, 'voted': !(locked$ | async) && voter.value.point}">
        <span *ngIf="!(locked$ | async) && voter.value.point">✓</span>
        <span *ngIf="locked$ | async">{{voter.value.point}}</span>
      </div>
    </div>
  </div>
  <ng-template #loadingVoters>Loading voters...</ng-template>
</div>