<div class="dealer-controls-container admin-icon mb-3 p-2">
  <app-dealer-icon></app-dealer-icon>
  <button title="Lock and reveal votes" class="btn btn-primary dealer icon-button mr-2" (click)="updateLockStatus()">
    <img *ngIf="!votingLocked" src="/assets/img/icons-lock-26.png"/>
    <img *ngIf="votingLocked" src="/assets/img/icons-unlock-26.png"/>
  </button>
  <select name="itemsType" class="form-control" id="itemsTypeSelect">
    <option [value]="null" selected disabled>Change voting items</option>
    <option value="fibonacci">Fibonacci</option>
    <option value="tshirt">T-shirt sizing</option>
  </select>
</div>
