@import "variables";
@import "mixins";

.dealer-controls-container {
  background-color: tint($primary, $tint-modifier);
  border-radius: 0.25rem;
  display: inline-flex;
  border: solid 1px black;
  padding: $xsmall;

  button {
    padding-left: $xsmall;
    padding-right: $xsmall;
    color: white;
    display: flex;
    align-items: center;

    img {
      width: $base;
      margin-right: $xxsmall;
      margin-bottom: $xxsmall;
    }

    span {
      margin-right: $xxsmall;
    }
  }
}

select {
  font-weight: bold;
  align-self: center;
  width: $dealer-select-width;
  border: solid black 1px;
}