<div class="dealer-controls-container admin-icon mb-3 p-2">
  <app-dealer-icon></app-dealer-icon>
  <button class="btn btn-primary dealer icon-button mr-2" (click)="updateLockStatus()"
    [title]="votingLocked ? 'Unlock and reset votes' : 'Lock and reveal votes'">
    <img [src]="votingLocked ? '/assets/img/icons-unlock-26.png' : '/assets/img/icons-lock-26.png'" />
    <span>{{ votingLocked ? 'Reset' : 'Reveal' }}</span>
  </button>
  <select name="itemsType" class="form-control" id="itemsTypeSelect" (change)="itemsChanged($event)">
    <option [value]="null" selected disabled>Change items</option>
    <option value="0">Fibonacci</option>
    <option value="1">Spike timebox</option>
    <option value="2">T-shirt sizing</option>
  </select>
</div>
