@import "variables";

.alert {
  padding: $small $base;
  margin-left: $large;
  margin-right: $large;
  position: relative;
}

// Make button focus look less wierd!
button.close {
  position: absolute;
  left: 90%;
  height: fit-content;
  padding-top: 2px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
}
