<!-- <div *ngIf="initialVoters else loadingVoters" class="voters-container"> -->

<div class="voters-container">
    <ng-container *ngIf="voters">
        <div *ngFor="let voter of voters" class="mr-2 mb-2 voter">
            <span class="mr-2 name">{{voter.name}}</span>
            <div class="card point-card locked"
                [ngClass]="{'locked': votingLocked, 'voted': !votingLocked && voter.point}">
                <span *ngIf="!votingLocked && voter.point">✓</span>
                <span *ngIf="votingLocked">{{voter.point}}</span>
            </div>
        </div>
    </ng-container>
</div>

<!-- </div>
<ng-template #loadingVoters>Loading voters...</ng-template> -->