<div class="page">
  <div class="d-inline-flex align-items-start title-section">
    <h2 *ngIf="(room$ | async) as room;" class="mr-2 mb-3">
      Room: {{ !room?.name ? room.id : room.name }}
    </h2>
    <button title="Copy room link" class="btn btn-primary dealer icon-button px-1 share-button" (click)="copyUrlToClipboard()">
      <img src="/assets/img/share.svg"/>
    </button>
  </div>
  <div class="mt-2">
    <app-dealer-controls *ngIf="isDealer$ | async"
      [voters]="(allVoters$ | async) || []"
      [votingLocked]="(votingLocked$ | async) || false"
      [myInformation]="(myInformation$ | async) || initialMyInformation">
    </app-dealer-controls>
  </div>
  <app-room-controls
    [isDealer]="(isDealer$ | async) || false"
    [myInformation]="(myInformation$ | async) || initialMyInformation">
  </app-room-controls>
  <app-voting-cards *ngIf="isParticipant$ | async"
    [locked]="(votingLocked$ | async) || false"
    [myInformation]="(myInformation$ | async) || initialMyInformation">
  </app-voting-cards>
  <app-voters
    [votingLocked]="(votingLocked$ | async) || false"
    [voters]="(allVoters$ | async) || []"
    [myInformation]="(myInformation$ | async) || initialMyInformation"
    [room]="(room$ | async) || initialMyInformation.room">
  </app-voters>
</div>