@import "variables";
@import "mixins";

.cards-container {
  display: flex;
  border: solid black $card-border-voted;
  border-radius: 0.25rem;

  &.locked {
    border: solid $locked-color $card-border-voted;

    .card.selected {
      border: solid $locked-color $card-border-voted;
      background-color: tint($locked-color, $tint-modifier);
    }
  }
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $base;
  width: $xlarge;
  height: $card-height;
  margin: $card-margin;
  margin-right: $card-margin / 2;
  border: solid black 1px;
  font-size: $medium;

  &:hover:not(:disabled) {
    background-color: tint($voted-color, $tint-modifier);
  }

  &:active,
  &.selected {
    border: solid $voted-color $card-border-voted;
    background-color: tint($voted-color, $tint-modifier);
  }

  &.estimating {
    background-repeat: no-repeat;
    background-position: center;
  }

  &.revealed {
    font-size: 26px;
  }
}
